.App {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
}

.item {
  min-height: 200px;
  min-width: 400px;
  padding: 14px;
}

.item img {
  width: 100%;
  height: 90%;
}